<xf:textboxrow label="{{ phrase('th_iau_xf_customer_email') }}"
			   name="options[email]"
			   value="{$profile.options.email}"
			   required="required"
			   explain="{{ phrase('th_iau_xf_customer_email_explain') }}" />

<xf:textboxrow label="{{ phrase('th_iau_xf_customer_password') }}"
			   name="options[password]"
			   required="required"
			   explain="{{ phrase('th_iau_xf_customer_password_explain') }}" />

<xf:textboxrow label="{{ phrase('th_iau_xf_license_url') }}"
			   name="options[license_url]"
			   value="{$profile.options.license_url}"
			   required="required"
			   explain="{{ phrase('th_iau_xf_license_url_explain') }}" />

<xf:hiddenval name="page_title" value="XenForo Customer Area" />
<xf:hiddenval name="base_url" value="https://xenforo.com/customers/" />