<xf:title>{{ phrase('confirm_action') }}</xf:title>

<xf:form action="{{ link('th-install-upgrade-profiles/delete', $profile) }}" class="block" ajax="true">
	<div class="block-container">
		<div class="block-body">
			<xf:inforow rowtype="confirm">
				{{ phrase('please_confirm_that_you_want_to_delete_following:') }}
				<strong><a href="{{ link('install-upgrade-profiles/edit', $profile) }}">{$profile.page_title}</a></strong>
			</xf:inforow>
		</div>
		<xf:submitrow rowtype="simple" icon="delete" />
	</div>
</xf:form>