<xf:title>
	<xf:if is="$profile.isInsert()">
		{{ phrase('th_installupgrade_add_profile') }}
		<xf:else />
		{{ phrase('th_installupgrade_edit_profile_x', {'profile': {$profile.page_title}} )}}
	</xf:if>
</xf:title>

<xf:form action="{{ link('th-install-upgrade-profiles/save', $profile) }}" ajax="true" class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:hiddenval name="provider_id" value="{$profile.provider_id}" />
			<xf:include template="{$handler.profile_options_template}" />

			<xf:if is="$handler.capabilities.tfa">
				<xf:checkboxrow>
					<xf:option name="has_tfa" checked="{$profile.has_tfa}"
							   label="{{ phrase('th_installupgrade_has_tfa')}}"
							   hint="{{ phrase('th_installupgrade_has_tfa_hint') }}"/>
				</xf:checkboxrow>
			</xf:if>

			<xf:if is="$handler.capabilities.encryptCredentials">
				<xf:passwordboxrow name="encryption_secret"
								   required="true"
								   label="{{ phrase('th_installupgrade_encryption_secret') }}"
								   explain="{{ phrase('th_installupgrade_encryption_secret_explain') }}" />
			</xf:if>
			<xf:submitrow sticky="true" icon="save" />
		</div>
	</div>
</xf:form>