<xf:if is="$updates is not empty">
	<div class="block">
		<div class="block-container">
			<h3 class="block-header">
				{{ phrase('th_installupgrade_upgradeable_styles') }}
			</h3>
			<ol class="block-body">
				<div class="addOnList">
					<xf:foreach loop="$updates" value="$update">
						<xf:macro name="style_update" arg-style="{$update}" />
					</xf:foreach>
				</div>
			</ol>
		</div>
	</div>
</xf:if>

<xf:macro name="style_update" arg-style="!">
	<xf:css src="addon_list.less" />

	<li class="block-row block-row--separated addonList-row">
		<div class="contentRow">
			<div class="contentRow-figure">
				<div class="contentRow-figureIcon">
					<xf:if is="$style.THIAUProduct.extra.thumbnail">
						<image src="{$style.THIAUProduct.extra.thumbnail}" />
					</xf:if>
				</div>
			</div>
			<div class="contentRow-main">
				<div class="contentRow-extra">
					<xf:button href="{{ link('styles/th-install-upgrade-update', $style) }}" overlay="true">
						{{ phrase('upgrade') }}
					</xf:button>
				</div>
				<h3 class="contentRow-header js-filterSearchable">
					{$style.title} <span class="contentRow-muted">{$style.THIAUProduct.latest_version}</span>
				</h3>
				<div class="contentRow-lesser js-filterSearchable{{ !$style.description ? ' no-description' : '' }}">
					{{ $style.THIAUProduct.description ? snippet($style.THIAUProduct.description, 200)|nl2br : '&nbsp;' }}
				</div>
			</div>
		</div>
	</li>
</xf:macro>