<xf:title>{{ phrase('two_step_verification_required') }}</xf:title>

<xf:form action="{$return_url|raw}" class="block" ajax="true">
	<div class="block-container">
		<div class="block-body">
			<xf:foreach loop="$extra" key="$key" value="$value">
				<xf:hiddenval name="{$key}" value="{$value|raw}" />
			</xf:foreach>
			
			<xf:textboxrow name="tfa_key" label="{{ phrase('th_iau_tfa_key') }}" />
		</div>
		<xf:submitrow submit="{{ phrase('continue') }}" rowtype="simple" icon="submit" />

		<xf:if is="$encryptionSecret">
			<xf:hiddenval name="encryption_secret" value="{$encryptionSecret}" />
		</xf:if>
	</div>
</xf:form>