<xf:macro name="product" arg-product="!" arg-radio="{{ false }}">
	<xf:css src="th_iau_macros.less" />
	<xf:datarow>
		<xf:if is="$radio">
			<xf:cell class="dataList-cell--iconic">
				<label class="iconic">
					<input type="radio" name="install" value="{$product.profile_id}-{$product.product_id}"><i aria-hidden="true"></i>
				</label>
			</xf:cell>
			<xf:else />
			<xf:toggle name="install[]" value="{$product.profile_id}-{$product.product_id}" />
		</xf:if>
		<xf:cell class="dataList-cell--min dataList-cell--alt dataList-cell--image dataList-cell--imageMediumWide">
			<xf:if is="$product.extra.thumbnail">
				<image src="{$product.extra.thumbnail}" />
			</xf:if>
		</xf:cell>
		<xf:cell class="dataList-cell--main">
			<div class="dataList-mainRow">
				{$product.title}
			</div>
			<div class="dataList-subRow">
				{$product.description}
			</div>
		</xf:cell>
	</xf:datarow>
</xf:macro>