<xf:title>{{ phrase('thiau_decryption_required') }}</xf:title>

<xf:form action="{{ link('install-upgrade-products/refresh') }}" class="block">
	<div class="block-container">
		<div class="block-body">

			<xf:foreach loop="$profiles" value="$profile">
				<xf:if is="$profile.requires_decryption && $profile.Provider.handler->supportsProductList">
					<xf:textboxrow name="secrets[{$profile.profile_id}]"
								   explain="{{ phrase('th_iau_decryption_key_for_x_explain', {'title': $profile.page_title}) }}"
								   label="{$profile.page_title}" />
				</xf:if>
			</xf:foreach>

			<xf:submitrow sticky="true" icon="submit" />
		</div>
	</div>
</xf:form>