<xf:title>{{ phrase('th_iau_select_languages_for_deletion') }}</xf:title>

<xf:form action="{{ link('languages/bulk-delete') }}" class="block" ajax="true">

	<div class="block-container">
		<div class="block-body">
			<xf:inforow rowtype="confirm">
				<p>{{ phrase('th_iau_you_sure_you_want_to_bulk_delete_languages') }}</p>
				<p>{{ phrase('th_iau_you_may_control_which_languages_to_delete_from_list_below:') }}</p>
			</xf:inforow>

			<xf:checkboxrow name="to_delete">
				<xf:foreach loop="$languages" key="$languageId" value="$language">
					<xf:if is="$languageId">
						<xf:option value="{$languageId}"
								   label="{$language.record.title}"
								   disabled="{{$languageId == $xf.options.defaultLanguageId ? 'disabled' : ''}}">
							<xf:hint>
								{{$languageId == $xf.options.defaultLanguageId ? phrase('th_iau_default_language_cannot_be_deleted') : ''}}
							</xf:hint>
						</xf:option>
					</xf:if>
				</xf:foreach>
			</xf:checkboxrow>
		</div>

		<xf:submitrow submit="{{ phrase('delete') }}" icon="delete" />
	</div>

	<xf:redirect />
</xf:form>