<xf:title>{{ phrase('th_iau_available_products') }}</xf:title>

<xf:pageaction>
	<xf:button href="{{ link('install-upgrade-products/refresh') }}"
			   overlay="true"
			   icon="refresh">
		{{ phrase('th_iau_refresh') }}
	</xf:button>
</xf:pageaction>

<div class="block">
	<div class="block-container">
		<h2 class="block-tabHeader block-tabHeader tabs hScroller"
			data-xf-init="tabs h-scroller"
			data-panes=".js-tabPanes"
			data-state="replace"
			role="tablist">
			<span class="hScroller-scroll">
				<a href="{{ link('install-upgrade-products/add-ons') }}"
				   class="tabs-tab is-active"
				   role="tab"
				   id="add-ons"
				   aria-controls="tab--add-ons">{{ phrase('th_iau_addons') }}</a>
				<a href="{{ link('install-upgrade-products/styles') }}"
				   rel="nofollow"
				   class="tabs-tab"
				   id="styles"
				   aria-controls="tab--styles"
				   role="tab">{{ phrase('styles') }}</a>
				<a href="{{ link('install-upgrade-products/languages') }}"
				   rel="nofollow"
				   class="tabs-tab"
				   id="languages"
				   aria-controls="tab--languages"
				   role="tab">{{ phrase('languages') }}</a>

			</span>
		</h2>

		<ul class="tabPanes js-tabPanes">
			<li class="is-active" role="tabpanel" id="tab--add-ons">
				<ol class="block-body block-row">
					<xf:if is="$addOns is not empty">
						<xf:foreach loop="$addOns" value="$addOn">
							<xf:css src="addon_list.less" />
							<li class="block-row block-row--separated addOnList-row">
								<div class="contentRow">
									<div class="contentRow-figure">
										<div class="contentRow-figureIcon">
											<xf:if is="$addOn.extra.thumbnail">
												<img src="{$addOn.extra.thumbnail}" alt="{$addOn.title}" />
												<xf:elseif is="$addOn.extra.icon" />
												<i class="{$addOn.extra.icon}" aria-hidden="true"></i>
												<xf:else />
												<i class="fa fa-puzzle-piece fa-3x" aria-hidden="true"></i>
											</xf:if>
										</div>
									</div>
									<div class="contentRow-main">
										<h3 class="contentRow-header js-filterSearchable">
											{$addOn.title} <span class="contentRow-muted">{$addOn.version}</span>
										</h3>
										<div class="contentRow-lesser js-filterSearchable{{ !$addOn.description ? ' no-description' : '' }}">
											{{ $addOn.description }}
										</div>
										<xf:comment>
											<xf:macro name="addon_list_item_footer" arg-addOn="{$addOn}" />
										</xf:comment>
									</div>
									<div class="contentRow-extra">
										<xf:button href="{{ link('install-upgrade-products/add-ons/install', $addOn) }}" overlay="true">
											{{ phrase('install') }}
										</xf:button>
									</div>
								</div>
							</li>
						</xf:foreach>
						<xf:else/>
						{{ phrase('th_iau_no_add_on_products_found') }}
					</xf:if>
				</ol>
			</li>
			<li role="tabpanel" id="tab--styles">
				<ol class="block-body block-row">
					<xf:if is="$styles is not empty">
						<xf:foreach loop="$styles" value="$style">
							<xf:css src="addon_list.less" />
							<li class="block-row block-row--separated addOnList-row">
								<div class="contentRow">
									<div class="contentRow-figure">
										<div class="contentRow-figureIcon">
											<xf:if is="$style.extra.thumbnail">
												<img src="{$style.extra.thumbnail}" alt="{$style.title}" />
												<xf:elseif is="$style.extra.icon" />
												<i class="{$style.extra.icon}" aria-hidden="true"></i>
												<xf:else />
												<i class="fa fa-tint fa-3x" aria-hidden="true"></i>
											</xf:if>
										</div>
									</div>
									<div class="contentRow-main">
										<h3 class="contentRow-header js-filterSearchable">
											{$style.title} <span class="contentRow-muted">{$style.version}</span>
										</h3>
										<div class="contentRow-lesser js-filterSearchable{{ !$style.description ? ' no-description' : '' }}">
											{{ $style.description }}
										</div>
									</div>
									<div class="contentRow-extra">
										<xf:button href="{{ link('install-upgrade-products/styles/install', $style) }}" overlay="true">
											{{ phrase('install') }}
										</xf:button>
									</div>
								</div>
							</li>
						</xf:foreach>
						<xf:else/>
						{{ phrase('th_iau_no_style_products_found') }}
					</xf:if>
				</ol>
			</li>
			<li role="tabpanel" id="tab--languages">
				<ol class="block-body block-row">
					<xf:if is="$languages is not empty">
						<xf:foreach loop="$languages" value="$language">
							<xf:css src="addon_list.less" />
							<li class="block-row block-row--separated addOnList-row }}">
								<div class="contentRow">
									<div class="contentRow-figure">
										<div class="contentRow-figureIcon">
											<xf:if is="$language.extra.thumbnail">
												<img src="{$language.extra.thumbnail}" alt="{$language.title}" />
												<xf:elseif is="$language.extra.icon" />
												<i class="{$language.extra.icon}" aria-hidden="true"></i>
												<xf:else />
												<i class="fa fa-language fa-3x" aria-hidden="true"></i>
											</xf:if>
										</div>
									</div>
									<div class="contentRow-main">
										<h3 class="contentRow-header js-filterSearchable">
											{$language.title} <span class="contentRow-muted">{$language.version}</span>
										</h3>
										<div class="contentRow-lesser js-filterSearchable{{ !$language.description ? ' no-description' : '' }}">
											{{ $language.description }}
										</div>
									</div>
									<div class="contentRow-extra">
										<xf:button href="{{ link('install-upgrade-products/languages/install', $language) }}" overlay="true">
											{{ phrase('install') }}
										</xf:button>
									</div>
								</div>
							</li>
						</xf:foreach>
						<xf:else/>
						{{ phrase('th_iau_no_language_products_found') }}
					</xf:if>
				</ol>
			</li>
		</ul>
	</div>
</div>